<!DOCTYPE html>
<html ng-app="uponnyc">
  <head>
    <title>UponNYC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= render 'layouts/footer' %>
  
</html>
